.bg-transparent.card {
    cursor: pointer;
    border: 4px solid transparent;
    border-radius: 20px;
    transition: 0.5s;
}

.bg-transparent.card:hover {
    border: 4px solid #ffc107;
}

.booking {
    outline: none;
}

.forSpace {
    margin-top: 7rem !important;
}